// ## Colors ##
$color-base: #fff;
// bg colors
$color-bg: #fbfbfb;
$color-bg1: #fff;
// black colors
$color-b1: #000;
$color-b11: #1e1f1e;
$color-b2: #2e302f;
$color-b21: #404241;
$color-b3: #828181;
$color-b4: #d0d0d0;
$color-b5: #f7f7f7;
$color-b6: #fcfbfb;

$color-w1: #ff0b0b;
$color-w2: #005fb4;
$color-green: #009900;

// ## Dimensions ##
$layout: 1100px;
